body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

header {
    background-color: #4C4C4C; 
    color: white;
    text-align: center;
    padding: 1rem;
}

header h1 {
    margin: 0;
}

nav {
    text-align: center;
    margin: 1rem;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #85C7F2; /* LIGHT BLUE */
}

nav a:hover {
    color: #A3D4F5; /* LIGHTER BLUE */
}

section {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1rem;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #85C7F2;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project {
    background-color: #DAEEFB; /* LIGHTEST BLUE */
    padding: 10px;
    width: 48%;
    margin: 0.5rem 0;
    border-radius: 8px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #4C4C4C;
    color: white;
    margin-top: 2rem;
}

footer p {
    margin: 0;
}

